@page
@model MotorPool.UI.Pages.Vehicles.MapModel

@{
    ViewData["Title"] = "Trip map";
}

@section HeadScripts {
    <script src='https://api.mapbox.com/mapbox-gl-js/v3.2.0/mapbox-gl.js'></script>
}

@section Styles {
    <link href='https://api.mapbox.com/mapbox-gl-js/v3.2.0/mapbox-gl.css' rel='stylesheet'/>
}

<div id='map' style='width: 400px; height: 300px;'></div>

<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiZ2Fyb3NoY3Bha2V0b20iLCJhIjoiY2x1NDE5amc2MTd5dzJtbng1d2VvdjQ3dyJ9.SKOegY6VOMGk0z_RWDCj6w';
        const map = new mapboxgl.Map({
        	container: 'map'
        	})
</script>