@model int

<a asp-page="./Edit" asp-route-id="@Model" title="Edit" class="me-2 text-decoration-none">
    <i class="fas fa-edit"></i>
</a>
<a asp-page="./Details" asp-route-id="@Model" title="Details" class="me-2 text-decoration-none">
    <i class="fas fa-info-circle"></i>
</a>
<a asp-page="./Delete" asp-route-id="@Model" title="Delete" class="me-2 text-decoration-none">
    <i class="fas fa-trash-alt"></i>
</a>