@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Identity
@using MotorPool.Auth
@model Index

@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Manager panel";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Admin/styles.css"/>
}

@if (!User.IsManager()) { return; }

<div class="container h-100 d-flex flex-column justify-content-evenly align-items-center">
    <h1 class="text-center">Manager panel</h1>
    <div class="w-100 h-25 d-flex justify-content-around shadow rounded">
        <div class="d-flex align-items-center justify-content-center flex-grow-1">
            <a class="cool-link h4" asp-page="./Brands">Vehicle brands</a>
        </div>
        <div class="d-flex align-items-center justify-content-center flex-grow-1">
            <a class="cool-link h4" asp-page="./Vehicles">Vehicles</a>
        </div>
        <div class="d-flex align-items-center justify-content-center flex-grow-1">
            <a class="cool-link h4" asp-page="./Enterprises">Enterprises</a>
        </div>
        <div class="d-flex align-items-center justify-content-center flex-grow-1">
            <a class="cool-link h4" asp-page="./Drivers">Drivers</a>
        </div>
    </div>
</div>