.shadow.rounded {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #dee2e6;
    padding: 20px;
}

.cool-link {
    color: #051742;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s, transform 0.2s;
}

.cool-link:hover, .cool-link:focus {
    color: #0056b3;
    text-decoration: underline;
    transform: scale(1.05);
}

.card:hover {
    transform: scale(1.05);
    transition: transform .3s ease-in-out;
}
